---
import site from "../../data/site.json";
const { text = "Zur Registrierung", note = site.copy.sourceNote } = Astro.props;
---

<aside class="cta-band">
  <div>
    <b>{site.mainKey}: {text}</b>
    <p>{note}</p>
  </div>
  <a class="btn btn-primary" href={site.playPath} rel="nofollow">Registrieren</a>
</aside>
